<h1>
  <strong><%= @list.name %></strong>
</h1>
  <%= link_to "Create bookmark",  new_list_bookmark_path(@list) %>

<ul>
  <% @bookmarks.each do |bookmark| %>
  <li><%= bookmark.movie.title %></li>
   <%= link_to "Delete", bookmark_path(bookmark), method: :delete, data: {confirm: "Are your sure?"}  %>
  <% end %>
</ul>
