
  .btn {
  top: 4px;
  bottom: 8px;
  right: 8px;
  color: black;
  background-color: lightgreen;
  border: transparent;
  border-radius: 14px;
}

.btn :hover {
 color: white;
}

.banner_form {
  padding: 50px;

}

.form-control {
  display: block;
  width: 25%;
}
